<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid" style="margin-top:2%">
        <div class="row">
            <div class="container">
                <h4>Edit Data</h4>
                <form action="/update/<%= data[0].id %>" method="post">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-10">
                            <input type="text" name="id" class="form-control" placeholder="String" value="<%= data[0].id %>" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">String</label>
                        <div class="col-sm-10">
                            <input type="text" name="string" class="form-control" placeholder="String" value="<%= data[0].kata%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Integer</label>
                        <div class="col-sm-10">
                            <input type="text" name="integer" class="form-control" placeholder="Integer" value="<%= data[0].bilanganBulat%>" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Float</label>
                        <div class="col-sm-10">
                            <input type="text" name="float" class="form-control" placeholder="Float" value="<%= data[0].pecahan%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Date</label>
                        <div class="col-sm-10">
                            <input type="date" name="date" class="form-control" placeholder="Date" value="<%= data[0].waktu%>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Boolean</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="boolean">
                                <option selected><%= data[0].pilihan %></option>
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group row" style="margin-left:1px">
                            <button href="/" type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
    </div>
</body>

</html>